<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <header>
        <div><img src="/images/logo-mercado-liebre.svg" width="300" alt="logo ml"></div>
        <h4>Lugar para poner la barra de busqueda</h4>
        <h4>Compra en cuotas y sin tarjeta de crédito</h4>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Créa tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <section>
        <h3>Basado en tu última visita</h3>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" width = "200" alt="foto cafetera">
            <p>$6770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>
        </article>
        <article>
            <img src="/images/img-macbook-pro-2019.jpg" width = "200" alt="foto MacBook">
            <p>$230000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
        </article>
        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" width = "200" alt="foto S10">
            <p>$70500</p>
            <p>10% off</p>
            <h4>Samsung Galaxy S10</h4>
        </article>
        <article>
            <img src="/images/img-tv-samsung-smart.jpg" width = "200" alt="foto TV">
            <p>$23200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung 43"</h4>
        </article>

    </section>
    <section>
        <h3>Ofertas</h3>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" width = "250" alt="foto cafetera">
            <p>$6770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>
        </article>
        <article>
            <img src="/images/img-macbook-pro-2019.jpg" width = "250" alt="foto MacBook">
            <p>$230000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
        </article>
        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" width = "250" alt="foto S10">
            <p>$70500</p>
            <p>10% off</p>
            <h4>Samsung Galaxy S10</h4>
        </article>
        <article> 
            <img src="/images/img-tv-samsung-smart.jpg" width = "250" alt="foto TV">
            <p>$23200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung 43"</h4>
        </article>

    </section>
    </main>
       
    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin
                interés con tarjeta o efectivo en
                 puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <h4>Envio gratis desde los $2500</h4>
            <p>Solo por estar registrado en Mercado Liebre
                tenes envios gratis en miles de productos. Es
                un beneficio de Mercado Puntos.
            </p>
        </section>
        <section>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre
                no hay nada que no puedas hacer porque estás
                siempre protegid@.
            </p>
        </section>
        <section>
            <h5>Copyright @ 1999-2020 Mercado Liebre S.R.L.</h5>
                    </section>
    </footer>
    
    
    

    
    
</body>
</html>