*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    }

header {
    background-color: #EAC926;
    padding: 20px;
}
.main-header-top{
    display: flex;
             
    }
.barraDeBusqueda{
    flex-grow: 0.5;
}
.logo{
    width: 50%;
    flex-grow: 0.5;
} 
.bannerDeOfertas{
    width: 100%;
}  


.imgCafetera{
    width: 100%;
    border-bottom: 2px solid #ebebeb;
} 
.imgMac{
    width: 100%;
    border-bottom: 2px solid #ebebeb;
}
.imgS10{
    width: 100%;
    border-bottom: 2px solid #ebebeb;
}
.imgTv{
    width: 100%;
    border-bottom: 2px solid #ebebeb;
}       
.compra-en-cuotas{
    padding: 12px;
}
section {
    display: block;
    margin: 0;
}
.articles{
    padding: 24px;
    column-gap: 24px;


}

main {
    background-color: #ebebeb;
    text-align: center;
    width: 100vw;
    
}
article{
    margin: 10px;
    }
.nav-bar{
    display: none;
}

.ofertas{
    background-color: white;
    display: block;
    margin: auto;
    padding: 24px 0;
        
} 
.ultima{
    background-color: white;
    display: block;
    margin: auto;
    padding: 24px 0;
    
}
.caja{
    background-color: white;
    border-top: 2px solid #ebebeb;
    margin: 15px;
   

}
.cajaCafetera{
    display: flex;
    text-align: left;
        }
.cajaTv{
    display: flex;
    text-align: left;
}
.cajaMac{
    display: flex;
    text-align: left;

}   
.cajaS10{
    display: flex;
    text-align: left;
}     
.fa-truck{
    color: #39b54a;
    size: 2em;
    background-color: white;
    display: flex;
    margin: 10px;
    }
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    right: 0;
    top: -15px;
   }

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
    color: #666;
    text-align: center;
}

.compra-en-cuotas {
    text-align: center;
    font-size: 14px;
}

.precio {
    font-size: 18px;
    background-color: white;
    flex-grow: 0.3;
}

.descuentos {
    font-size: 16px;
    background-color: white;
    flex-grow: 0.7;
    color: #39b54a;
}

.descripción {
    font-size: 16px;
    background-color: white;
    display: none;
    }
     
.burger-menu {
    background-color: #1259c3;
    text-align: center;
    font-size: 1.5em;
    color: #ebebeb;
    padding: 8px;
    max-width: 45px;
    border-radius: 8px;
    display: block;
    margin: auto;
}
.toparticles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px;
    gap: 24px;
     }
.bottomarticles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px;
    gap: 24px;
}

footer {
    background-color: white;
    text-align: center;
    color: #666;
    padding: 10px 0 0 0;
}

.gift {
    color: #1259c3;
    font-size: 2em;
    line-height: 10px;
    margin: auto;
}

.credit-card {
    color: #1259c3;
    font-size:2em;
    line-height: 10px;
    margin: auto;
}

.shield {
    color: #1259c3;
    font-size: 2em;
    line-height: 10px;
    margin: auto;
}


h5 {
    text-align: left;
}


@media (min-width: 768px){ 
    .logo{
        max-width: 300px;
    }
    .ofertas{
        width: 48%;
        margin: 0;
    }
    .ultima{
        width: 48%;
        margin: 0;
    }
    .burger-menu{
        display: none;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .nav-bar ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        }
    a{
        margin: 0 10px;
    }
    .main-header-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }  
    
    .toparticles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 24px;
        gap: 24px;
         }
    .bottomarticles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 24px;
        gap: 24px;
    }
}

         
    
   

@media (min-width: 990px){
    .logo{
        max-width: 350px;
    }
    .descripción{
        display: block;
    }
    .ofertas{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 23%;
        margin: 0;
            }
    .ultima{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 23%;
        margin: 0;
            }
    .burger-menu{
        display: none;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .nav-bar ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        }
    a{
        margin: 0 10px;
    }
    .main-header-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }  
    .toparticles{
        display: flex;
        flex-direction: row;
            } 
    .bottomarticles{
        display: flex;
        flex-direction: row;
    }
}
@media (min-width: 1200px){
    *{
        max-width: 1200px;

}
.nav-bar ul{
    font-size: 19px;
}
.compra-en-cuotas{
    font-size: 19px;
    font-weight: bolder;
}
}