* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header {
    background-color: #EAC926;
    padding: 20px;
}

.main-header-top {
    display: flex;
    flex-grow: 0.5;

}

.cont-barraBusqueda {
    display: flex;
    width: 50%;
    position: relative;
    margin: 15px 0;
}

.barraBusqueda {
    width: 100%;
    padding: 5px;
}

.fa-magnifying-glass {
    background-color: #FFF;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    position: relative;
    right: 20px;
}

.logo {
    width: 50%;
}

.register-container,
.login-container {
    width: 50%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #ebebeb;
    justify-content: center;
}

.form-birthday,
.form-perfil,
.form-checkbox,
.form-foto,
.form-contraseña p {
    font-size: 14px;
    font-weight: bold;
    margin: 12px 0;
}

.inputFoto,
.inputNombre,
.inputUsuario,
.inputEmail,
.inputFecha,
.inputDomicilio,
.inputPassword {
    border-radius: 6px;
    border: none;
    height: 38px;
    margin-top: 12px;
    padding: 12px;
    margin-bottom: 12px;
    width: 100%;
}

.radio-perfil {
    margin: auto;
    display: block;
    padding: 12px;
}

.list-checkbox {
    display: flex;
    justify-content: space-between;
    padding: 12px;

}

.button-container {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 24px;
}

.button-enviar,
.button-borrar {
    border: none;
    background-color: #1259c3;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 450ms;
}

.button-enviar:hover,
.button-borrar:hover {

    background-color: #0022AA;
}

.login-recordarme {
    padding: 8px;
}

.button-ingresar {
    border: none;
    background-color: #1259c3;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 100%;
    transition: all 450ms;
}

.button-ingresar:hover {

    background-color: #0022AA;
}


.bannerDeOfertas {
    width: 100%;
}


.imgCafetera {
    width: 100%;
    border-bottom: 2px solid #ebebeb;
}

.imgMac {
    width: 100%;
    border-bottom: 2px solid #ebebeb;
}

.imgS10 {
    width: 100%;
    border-bottom: 2px solid #ebebeb;
}

.imgTv {
    width: 100%;
    border-bottom: 2px solid #ebebeb;
}

.compra-en-cuotas {
    padding: 12px;
}

section {
    display: block;
    margin: 0;
}

.articles {
    padding: 24px;
    column-gap: 24px;


}

main {
    background-color: #ebebeb;
    text-align: center;
    width: 100vw;

}

article {
    margin: 10px;
}

.nav-bar {
    display: none;
}

.ofertas,
.ultima {
    background-color: white;
    display: block;
    margin: auto;
    padding: 24px 0;
    position: relative;
    box-shadow: none;
    transition: all 450ms;

}

.ofertas:hover,
.ultima:hover {

    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transform: scale(1.1);
}
.ofertas:hover .descripción,
.ultima:hover .descripción{
    visibility: visible;
}
.ofertas:hover .fa-truck,
.ultima:hover .fa-truck{
    rotate: -90deg;
}


.caja {
    background-color: white;
    border-top: 2px solid #ebebeb;
    margin: 15px;


}

.cajaCafetera {
    display: flex;
    text-align: left;
}

.cajaTv {
    display: flex;
    text-align: left;
}

.cajaMac {
    display: flex;
    text-align: left;

}

.cajaS10 {
    display: flex;
    text-align: left;
}

.fa-truck {
    color: #39b54a;
    size: 2em;
    background-color: white;
    display: flex;
    margin: 10px;
    position: relative;
    left: 250px;
    bottom: 10px;
    transition: all 450ms;
    }


main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    right: 0;
    top: -15px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
    color: #666;
    text-align: center;
}

.compra-en-cuotas {
    text-align: center;
    font-size: 14px;
}

.precio {
    font-size: 18px;
    background-color: white;
    flex-grow: 0.3;
}

.descuentos {
    font-size: 16px;
    background-color: white;
    flex-grow: 0.7;
    color: #39b54a;
}

.descripción {
    font-size: 16px;
    background-color: white;
    display: block;
    visibility: hidden;
}

.burger-menu {
    background-color: #1259c3;
    text-align: center;
    font-size: 1.5em;
    color: #ebebeb;
    padding: 8px;
    max-width: 45px;
    border-radius: 8px;
    display: block;
    margin: auto;
}

.toparticles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px;
    gap: 24px;
}

.bottomarticles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px;
    gap: 24px;
}

footer {
    background-color: white;
    text-align: center;
    color: #666;
    padding: 10px 0 0 0;
}

.footer-container {
    display: block;
    margin: 15px 0;
    padding: 24px;

}

.lineas-footer {
    padding: 0 50px;
}

.lineaFinal {
    margin: 6px;
}

.gift,
.credit-card,
.shield {
    color: #1259c3;
    font-size: 2em;
    line-height: 10px;
    margin: auto;
    transition: all 450ms;
}

.gift:hover,
.credit-card:hover,
.shield:hover {
    color: greenyellow;


}




h5 {
    text-align: left;
}


@media (min-width: 768px) {
    .logo {
        max-width: 300px;
    }

    .ofertas {
        width: 48%;
        margin: 0;
    }

    .ultima {
        width: 48%;
        margin: 0;
    }

    .burger-menu {
        display: none;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .nav-bar ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: black;
    }

    a {
        margin: 0 10px;
    }

    .main-header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .toparticles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 24px;
        gap: 24px;
    }

    .bottomarticles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 24px;
        gap: 24px;
    }

    .cont-barraBusqueda {
        margin: 15px 0;
    }
    


}





@media (min-width: 990px) {
    .logo {
        max-width: 350px;
    }

    .ultima,
    .ofertas {
        box-shadow: none;
        width: 23%;
        margin: 0;
        position: relative;
        transition: all 450ms;
    }

    
    .burger-menu {
        display: none;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .nav-bar ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
    }

    a {
        margin: 0 10px;
        text-decoration: none;
        color: black;
    }

    .main-header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .toparticles {
        display: flex;
        flex-direction: row;
    }

    .bottomarticles {
        display: flex;
        flex-direction: row;
    }

    .fa-truck {
        color: #39b54a;
        size: 2em;
        background-color: white;
        display: flex;
        margin: 10px;
        position: relative;
        left: 150px;
        bottom: 10px;
    }

    .footer-container {
        display: flex;
        margin: 15px 0;
        padding: 10px;
    }

    .lineaFinal {
        margin: 6px;
    }
}

@media (min-width: 1200px) {

    .nav-bar ul {
        font-size: 19px;
        text-decoration: none;
    }

    .compra-en-cuotas {
        font-size: 19px;
        font-weight: bolder;
    }
}